@font-face {
    font-family: "Roboto Slab Regular";
    src: url("RobotoSlab-Regular.eot");
    src: url("RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), url("RobotoSlab-Regular.woff") format("woff"),
        url("RobotoSlab-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Slab Bold";
    src: url("RobotoSlab-Bold.eot");
    src: url("RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), url("RobotoSlab-Bold.woff") format("woff"),
        url("RobotoSlab-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Slab Light";
    src: url("RobotoSlab-Light.eot");
    src: url("RobotoSlab-Light.eot?#iefix") format("embedded-opentype"), url("RobotoSlab-Light.woff") format("woff"),
        url("RobotoSlab-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');
.header {
    background-color: #FFFFFF;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px 12px 14px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 12px 14px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 12px 14px 1px rgba(34, 60, 80, 0.2);
}

.conteiner2 {
    background-image: url(../images/tomatoOne/tomatoOneBg.svg);
    background-size: 100% 100%;
    background-color: #E5E5E5;
    width: 100%;
}

p, a {
    line-height: 150%;
    font-size: 17px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    color: #324950;
}
b {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    line-height: 150%;
    color: #324950;
}
a{
    color: #57984C;
    text-decoration: none;
}
.conteiner {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-bottom: 170px;
}
.flex-item1 {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.tomato {
    max-width:100%;
    width: 100%;
}
.flex-item-item4 h1 {
    text-align: left;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 150%;
}
.flex-item-item4 p{
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    color: #CF2333;
}
.flex-item-item4 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.flex-item1-item2 {
    width: 100%;
    margin: 0 15px 0 15px;
}
.flex-item-item6 h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #57984C;
}
.flex-item-item6 {
    border-bottom: #57984C 1px solid;
    width: 200px;
    padding-bottom: 10px;
}
.flex-item-item5 p,b {
    font-size: 17px;
    line-height: 150%;
    color: #324950;
}
.flex-item-item5 b {
    font-weight: 700;
}
.flex-item-item5 p {
    font-weight: 400;
}
.flex-item-item5 {
    padding-top: 20px;
}
li {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 200%;
    color: #324950;
    list-style-position: unset;
}
li::before {content: "•"; color: #57984C;
    display: inline-block; width: 1em;}